:root{
    --primary-bg-color: white;
    --secondary-bg-color: lightgray;
}

*{
    box-sizing: border-box;
    padding: unset;
    margin: unset;
}

/* GENERAL STYLES */
html{
    font-family: tahoma;
    font-size: 10px;
    line-height: 1.5;
}

body{
    background-color: var(--primary-bg-color);
    font-size: 1.5rem;
}

header, main, footer, fieldset{
    padding: 1rem;
}

legend, input, button, select{
    font-size: inherit;
    border: none;
    border-radius: 0.25rem;
}
input, button, select{
    padding: 0.25rem;
    margin: 2px;
}
/* TRACKER CONTROLS STYLES */

#tr-controls{
    display: flex;
    flex-flow: column nowrap;
}

fieldset{
    min-width: 350px;
    max-width: fit-content;
    margin: 0px auto;
}


input, select{
    border: 1px solid;
}

button{
    padding: 0.5rem;
    font-weight: bold;
    background-color: gray;
}

button:hover:not(:disabled){
    color: white;
    background-color: black;
}

button:active:not(:disabled){
    box-shadow: 0 0 2px 1px black;
}

input:disabled{
    color: inherit;
    background-color: white;
}

table{
    border-collapse: collapse;
    margin: 1rem auto;
    background-color: var(--secondary-bg-color);
}

th, tr{
    padding: 0.5rem;
}


#tr-message{
    color: red;
}
