:root{
    --primary-bg-color: white;
    --secondary-bg-color: lightgray;
}

*{
    box-sizing: border-box;
    padding: unset;
    margin: unset;
}


/* GENERAL STYLES */
html{
    font-family: tahoma;
    font-size: 10px;
    line-height: 2;
}

body{
    background-color: var(--primary-bg-color);
    font-size: 1.5rem;
}

header, main, footer, fieldset{
    padding: 1rem;
}

fieldset, legend, input, button, select{
    font-size: inherit;
    border: none;
    border-radius: 0.25rem;
}
input, button, select{
    padding: 0.25rem;
}
/* TRACKER CONTROLS STYLES */

#tr-controls{
    display: flex;
    flex-flow: column nowrap;
}

fieldset:first-of-type{
    border-bottom: 1px solid;
}

fieldset, fieldset > div:first-of-type{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.5rem;
}

button{
    padding: 0.5rem;
    height: 3rem;
    min-width: 5rem;
    background-color: gray;
    box-shadow: 0 0 2px 1px black inset;
}

button:hover:not(:disabled){
    background-color: black;
}

button:active:not(:disabled){
    filter: invert(1);
}

input:disabled{
    color: inherit;
    background-color: white;
}

table{
    border-collapse: collapse;
    margin: 1rem auto;
    background-color: var(--secondary-bg-color);
}

th, tr{
    padding: 0.15rem;
    border: 1px solid;
}
